@import 'support/vars.css.scss';

html {
  color:             $primary_light_color;
  background-color:  $base_color;
  width:             $skinny;
  margin:            auto;
  text-shadow:       1px 5px 1px $primary_dark_color;
}

p {
  @include transition(all);
  &:hover {
    color: lighten($primary_dark_color,14);
    text-shadow: 5px 1px 5px $primary_dark_color;
  }
}

a {
  color: $secondary_dark_color;
  &:hover { color: $primary_dark_color; }
}

#pageHeader {
  @include rotate(38deg);
  @include transition(text-shadow, 2s);
  @include transition(color, 2s);
  position:  relative;
  top:       25em;
  left:      -25em;
  color:     $primary_dark_color;

  &:hover{
    text-shadow:  2px 2px 4px $primary_dark_color;
    color:        $secondary_light_color;
  }
}
